.item {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.3);
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 20px;
}

.avatar {
  margin-right: 20px;
}

.name {
  font-size: 20px;
  font-weight: 700;
}
